<form id="sequencer-effects-form" class="dialog-content" onsubmit="event.preventDefault();" autocomplete="off">

	<style>

		.mks-list {
			overflow-y: hidden;
			overflow-x: hidden;
			padding: 0;
			margin: 0;
		}

		.mks-list__item {
			padding: 4px;
			list-style: none;
			border-bottom: 2px solid var(--color-border-dark-3, #333);
		}

		.mks-noborder {
			border-bottom: none;
		}

		.mks-list__item:last-of-type {
			border-bottom: none;
		}

		.mks-list__collapse {
			font-size: var(--font-size-16, 16px);
			cursor: pointer;
			text-indent: 5px;
			color: darkorange;
		}

		.mks-list__collapse:hover {
			text-shadow: 0 0 4px #460750;
		}

		.mks-list__collapsible {
			overflow: hidden;
			padding: 0;
			margin: 0;
		}

		.mks-list__collapsible--collapsed {
			display: none;
		}

		.mks-list__icon {
			border: none;
			flex: 0 0 18px;
			text-align: center;
			line-height: var(--line-height-20, 20px);
			font-size: var(--font-size-16, 16px);
		}

		.mks-list__link {
			font-size: var(--font-size-20, 20px);
			text-indent: 5px;
		}

		.panel-container {
			height: 100%;
			width: 100%;
			display: flex;
		}

		.effects {
			padding: 5px 0;
			max-height: calc(425px - 5rem);
			overflow-y: scroll;
			overflow-x: hidden;
			flex: 1;
			flex-direction: row;
		}

		.effect {
			display: flex;
			flex: 1 0 auto;
		}

		.effect > button {
			flex: 0;
			font-size: 0.7rem;
			height: 1.25rem;
			line-height: normal;
			margin-right: 5px;
		}

		.effect > div {
			flex: 1;
			line-height: 1.25rem;
		}

		.mb-1 {
			margin-bottom: 0.25rem;
		}

		.sheet-tabs {
			min-width: 250px;
		}

		.mks-active-tab {
			text-decoration: underline;
			/*text-shadow: 0 0 10px var(--color-shadow-primary);*/
		}

		.mks-mr10 {
			margin-right: 10px;
		}

	</style>

	<nav class="sheet-tabs tabs mb-1" data-group="actions-panel">
		<a class="item active mks-active-tab mks-mr10" data-tab="encounter"><i class="fas fa-fist-raised"></i> {{ localize "PF2E.TabActionsEncounterLabel" }}</a>
		<a class="item mks-mr10" data-tab="exploration"><i class="fas fa-campground"></i> {{ localize "PF2E.TabActionsExplorationLabel" }}</a>
		<a class="item" data-tab="downtime"><i class="fas fa-bath"></i> {{ localize "PF2E.TabActionsDowntimeLabel" }}</a>
	</nav>

	<hr>

	<section id="actions-panel-tabs" class="content">
		<div class="tab panel-container" data-tab="encounter" data-group="actions-panel">
			<div class="form-group">
				<label><span>{{localize "PF2E.MKS.ActionsPanel.ShowApplicable"}}</span></label>
				<div class="form-fields">
					<input type="checkbox" class="mks-checkbox" name="{{localize "PF2E.MKS.ActionsPanel.ShowApplicable"}}" id="showApplicable" {{#if showApplicable}}checked{{/if}} />
				</div>
			</div>
			<div class="form-group">
				<label><span>{{localize "PF2E.MKS.ActionsPanel.InCombatTurn"}}</span></label>
				<div class="form-fields">
					<input type="checkbox" class="mks-checkbox" name="{{localize "PF2E.MKS.ActionsPanel.InCombatTurn"}}" id="inCombatTurn" {{#if inCombatTurn}}checked{{/if}} />
				</div>
			</div>
			<ol class="mks-list">
				{{#each actions as |tag|}}
					<li class="mks-list__item">
						<header class="flexrow">
							<label class="mks-list__collapse">{{tag.label}}
								<i class="mks-list__collapse-icon fa fa-angle-{{#if tag.expanded}}down{{else}}up{{/if}}"></i>
							</label>
						</header>
						<ol	class="mks-list__collapsible{{#unless tag.expanded}} mks-list__collapsible--collapsed{{/unless}} mks-list" id="{{tag.tag}}">
							{{#each tag.methods as |method|}}
								<li class="mks-list__item mks-noborder">
									<header class="flexrow">
										{{#if method.icon}}
											<img class="mks-list__icon" width="24" height="24" src="{{method.icon}}">
										{{/if}}
										<a data-action="{{method.action}}" data-method="{{method.method}}" class="mks-list__link">{{method.label}} {{#if (ne method.action 'rudimentary')}}<i class="fas fa-caret-right"></i>{{/if}}</a>
									</header>
								</li>
							{{/each}}
						</ol>
					</li>
				{{/each}}
			</ol>
		</div>
		<div class="tab effects-container" data-tab="exploration" data-group="actions-panel">
			Exploration
		</div>
		<div class="tab effects-container" data-tab="downtime" data-group="actions-panel">
			Downtime
		</div>
	</section>

</form>