<form id="relative-cond-panel" class="dialog-content" onsubmit="event.preventDefault();" autocomplete="off">
	{{#with (token referenceTokenId)}}
	<div class="index">
		<img style="vertical-align: text-bottom; border: none" alt="{{name}}" width="40" height="40" src="{{document.texture.src}}">
		<label style="font-size: 1.25em;"> {{name}} </label>
	</div>
	{{/with}}
	<header class="table-header flexrow">
		<label class="index">{{localize "FOUNDRY.Concept.Actor"}}</label>
		<label>{{localize "PF2E.Concept.Cover.Title"}}</label>
		<label>{{localize "PF2E.Concept.Awareness.Title"}}</label>
		<label>{{localize "PF2E.Concept.Attitude.Title"}}</label>
	</header>

	<ul class="permissions-list">
		{{#each relative as |conds tokenId|}}
		<li class="permission form-group">
			{{#with (token tokenId)}}
			<div class="index">
				<img style="vertical-align: bottom; border: none" alt="{{name}}" width="32" height="32" src="{{document.texture.src}}">
				<label> {{name}} </label>
			</div>
			{{/with}}
			<div class="form-fields">
				<div style="text-align: center">
					<a {{#if @root.editable}}data-action="cover"{{/if}} data-reference="{{@root.referenceTokenId}}" data-target="{{tokenId}}">{{at @root.labels.cover conds.cover}}</a>
				</div>
				<div style="text-align: center">
					<a {{#if @root.editable}}data-action="awareness"{{/if}} data-reference="{{@root.referenceTokenId}}" data-target="{{tokenId}}">{{at @root.labels.awareness conds.awareness}}</a>
				</div>
				<div style="text-align: center">
					<a {{#if @root.editable}}data-action="attitude"{{/if}} data-reference="{{@root.referenceTokenId}}" data-target="{{tokenId}}">{{at @root.labels.attitude conds.attitude}}</a>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
<!--	<div class="form-group">-->
<!--		<button type="button" data-action="submit">-->
<!--			<i class="fas fa-save"></i> {{localize "PF2E.MKS.UI.Actions.submit"}}-->
<!--		</button>-->
<!--		<button type="button" data-action="revert">-->
<!--			<i class="fas fa-sync"></i> {{localize "PF2E.MKS.UI.Actions.revert"}}-->
<!--		</button>-->
<!--	</div>-->
</form>